body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

li {
    margin-top: 10px;
    background: #334155;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.remover {
    background: red;
    border: none;
    color: white;
    cursor: pointer;
}